$text-primary:         #767171;
$text-secondary:       #222;
$border-primary:       #afabab;
$outline-primary:      #84a295;
$heading-primary:      #84a295;
$background-primary:   #84a295;
$background-secondary: #eae6da;
$background-tertiary:  #b7cdc2;
$nav-background:       #cc968f;
$nav-text:             #eae6da;
$button-primary:       #84a295;
$button-text:          #f7f6ee;
$icon-primary:         #84a295;
$error-primary:        #f00;

$font-sans-serif: 'Barlow Condensed', sans-serif;

$width-small:   501px;
$width-medium:  769px;
$width-large:  1101px;