<div class="container">
	<div class="content-wrapper">
		<% @contacts.each do |contact| %>
		<div>
			<div><%= contact.title %></div>
			<div><%= contact.value %></div>
		</div>
		<% end %>
	</div>
</div>